<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">HP FormGen 1.0</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/">HP FormGen 1.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/">Home</a></li>
            <li class="dropdown" *ngIf="isFormState">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{selectedForm}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li *ngFor="let item of nav"><a (click)="selectedForm = item.title; onSelect(item)">{{item.title}}</a></li>
              </ul>
            </li>
            <li *ngIf="isFormState">
              <div [hidden]="incident.currentIncidentStatus !== 'new'">
                <span class="label label-warning">Incident not saved yet</span>
              </div>
              <div [hidden]="incident.currentIncidentStatus === 'new'">
                <span class="">{{incident.currentIncidentName}}</span>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" *ngIf="!isFormState">            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Henrich.einchelman <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Benutzeroptionen</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Abmelden</a></li>
              </ul>
            </li>
          </ul>
          <!-- Snippet for FORM component -->
          <app-form-tools *ngIf="isFormState"></app-form-tools>
        </div><!--/.nav-collapse -->
      </div>
</nav>