.incident-list {
    margin-bottom: 0 !important;
}

.incident-list li {
    display: inline;
}

.incident-list li button {
    width: 40px;
    height: 40px;
    padding: 6px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 1.428571429;
    margin-right: 10px;
}

.status-icon {
    font-size: 24px;
}