<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulare</h3>
  </div>
  <div class="panel-body">

  <!-- Table control start --> 
  <div class="row">
    <div class="col-md-6">
      <select class="form-control" id="incident-dropdown" type="text" name="incident-dropdown" [(ngModel)]="selectedIncident" (change)="onIncidentChange($event.target.value)">
        <option value="all">Alle</option>
        <option *ngFor="let incidentItem of incidentList" [value]="incidentItem.id">{{incidentItem.name}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <!-- Add new incident (when 'Alle state active') -->
      <div [hidden]="selectedIncident !== 'all'">
        <button class="btn btn-primary" (click)="createNewIncident()" role="button">Kunde anlegen</button>
      </div>

      <!-- Add new form for selected incident (when 'Alle state is unactive') -->
      <div [hidden]="selectedIncident === 'all'">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" [ngClass]="{disabled: !isFormActive()||incident.hasEmptyForms(selectedIncident)}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Neus Formular <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a *ngFor="let formItem of incident.getEmptyForms(selectedIncident)" (click)="addFormToIncident(formItem.id, selectedIncident)">{{formItem.name}}</a></li>
          </ul>
        </div>
        <div [hidden]="isFormActive()"><span> This incident is outdated and can't be modified</span></div>
      </div>
    </div>
  </div>
  <!-- Table control end --> 

  <!-- Table start --> 
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="20%">Kunde</th>
          <th width="10%" align="center">Datum</th>
          <th width="10%" align="center">Status</th>
          <th width="40%">Formulare</th>
          <th width="20%">Aktionen</th>
        <tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of visibleList">
          <td>{{row.name}}</td>
          <td>{{row.date | date}}</td>
          <td>
            <!-- For OK status -->
            <div [hidden]="row.status === false">
              <span class="glyphicon-class glyphicon glyphicon-ok-circle status-icon"></span>
            </div>
            <!-- For false status -->
            <div [hidden]="row.status === true">
              <span class="glyphicon-class glyphicon glyphicon-remove-circle status-icon"></span>
            </div>
          </td>
          <td>
            <ul class="incident-list">
              <li><button type="button" class="btn btn-primary" [ngClass]="{disabled: !getSheetStatus('sd', row.forms)}" (click)="viewIncident('sd', row.id, getSheetStatus('sd', row.forms))">SD</button></li>
              <li><button type="button" class="btn btn-success" [ngClass]="{disabled: !getSheetStatus('sb', row.forms)}" (click)="viewIncident('sb', row.id, getSheetStatus('sb', row.forms))">SB</button></li>
              <li><button type="button" class="btn btn-warning" [ngClass]="{'disabled': !getSheetStatus('wd', row.forms)}" (click)="viewIncident('wd', row.id, getSheetStatus('wd', row.forms))">WD</button></li>
              <li><button type="button" class="btn btn-danger" [ngClass]="{'disabled': !getSheetStatus('ws', row.forms)}" (click)="viewIncident('ws', row.id, getSheetStatus('ws', row.forms))">WS</button></li>
              <li><button type="button" class="btn btn-info" [ngClass]="{'disabled': !getSheetStatus('ep', row.forms)}" (click)="viewIncident('ep', row.id, getSheetStatus('ep', row.forms))">EP</button></li>
              <li><button type="button" class="btn grey" [ngClass]="{'disabled': !getSheetStatus('rb', row.forms)}" (click)="viewIncident('rb', row.id, getSheetStatus('rb', row.forms))">RB</button></li>
            </ul>
          </td>
          <td><button class="btn btn-default" (click)="deleteIncidentItem(row['id'])">Löschen</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Table end --> 
  </div>
</div>