<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stand</h3>
  </div>
  <div class="panel-body">
    <p>Letztes Datenupdate n/a</p>
    <p>Letztes Softwareupdate {{currentTemplateVersion | date:'dd.MM.yyyy'}}</p>
    <div *ngIf="templateStatus === true"><span>Latest version</span></div>
    <div *ngIf="templateStatus === false"><span>Need update</span><button type="button" class="btn btn-success" (click)="updateTemplates()">Update templates</button></div>
  </div>
</div>
