<div calss="row">
  <h3>{{name}}</h3>
  <p>{{description}}</p>
</div>

<div class="row"><p>{{currentFormData | json}}</p></div>

<!-- Here is placed DynamicComponent to Render specific form according to it's template -->
<div class="row" #formTpl></div>



<!-- <div class="row">
  <form #f="ngForm" submitted="submitted" (ngSubmit)="onSubmit()">
    <input type="text" class="form-control" id="name" required minlength="4" [(ngModel)]="currentFormData.name" name="name">
        <div *ngIf="name.errors && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div [hidden]="!name.errors.required">
            Name is required
          </div>
          <div [hidden]="!name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
       </div>
    <button type="submit" class="btn btn-success">Submit 1</button>
  </form>
</div> -->

<!-- <div class="row">
  <form #f="ngForm" (ngSubmit)="_onSubmit(f)">
    <h5>Über das Gerät</h5> 
    <div class="checkbox">
      <label><input type="checkbox" name="custom_system_enabled" [(ngModel)]="custom_system_enabled">Eigener Gerät</label>
    </div>   
    <div class="row">
      <div class="form-group col-md-6">
        <label for="system_name">Gerät/System*</label>
        <div [hidden]="custom_system_enabled">
          <input required name="system_name"
            id="system_name"
            [(ngModel)]="currentFormData.over_the_device.system_name"
            [typeahead]="dynamicData['system_name']"
            typeaheadOptionsLimit="10"
            typeaheadOptionField="name"
            placeholder="Select customer"
            class="form-control">
        </div>
        <div [hidden]="!custom_system_enabled">
          <input type="text"
          class="form-control"
          id="custom_system_name"
          placeholder="Enter custom name"
          [(ngModel)]="currentFormData.over_the_device.system_name"
          required name="custom_system_name">
        </div>
        <div [hidden]="isValid(f, 'system_name') && isValid(f, 'custom_system_name')" class="alert alert-danger">Name is required</div> 
      </div>
      <div class="form-group col-md-6">
        <div class="form-group col-md-6">
          <label for="factory_number">Fabrik-Nummer</label>
          <input type="text" class="form-control" id="factory_number" placeholder="Enter factory number" [(ngModel)]="currentFormData.over_the_device.factory_number" name="factory_number">
        </div>
        <div class="form-group col-md-6">
          <label for="system_type">Gerätetyp</label>
          <select class="form-control" id="system_type" required name="system_type" [(ngModel)]="currentFormData.over_the_device.system_type">
            <option value="horizontal">Horizontal</option>
            <option value="vertical">Vertikal</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Module*</label>
          <div class="checkbox">
            <label><input type="checkbox" name="rm" [(ngModel)]="currentFormData.over_the_device.modules.rm">RM</label>
            <label><input type="checkbox" name="rl" [(ngModel)]="currentFormData.over_the_device.modules.rl">RL</label>
            <label><input type="checkbox" name="ro" [(ngModel)]="currentFormData.over_the_device.modules.ro">RO</label>
            <label><input type="checkbox" name="rg" [(ngModel)]="currentFormData.over_the_device.modules.rg">RG</label>
            <label><input type="checkbox" name="fa" [(ngModel)]="currentFormData.over_the_device.modules.fa">FA</label>
            <label><input type="checkbox" name="vt" [(ngModel)]="currentFormData.over_the_device.modules.vt">VT</label>
            <label><input type="checkbox" name="fv" [(ngModel)]="currentFormData.over_the_device.modules.fv">FV</label>
            <label><input type="checkbox" name="tl" [(ngModel)]="currentFormData.over_the_device.modules.tl">TL</label>
            <label><input type="checkbox" name="mt" [(ngModel)]="currentFormData.over_the_device.modules.mt">MT</label>
            <label><input type="checkbox" name="ims" [(ngModel)]="currentFormData.over_the_device.modules.ims">IMS</label>
            <label><input type="checkbox" name="adi" [(ngModel)]="currentFormData.over_the_device.modules.adi">ADI</label>
            <label><input type="checkbox" name="adw" [(ngModel)]="currentFormData.over_the_device.modules.adw">ADW</label>
            <label><input type="checkbox" name="kab" [(ngModel)]="currentFormData.over_the_device.modules.kab">KAB</label>
            <label><input type="checkbox" name="wrp" [(ngModel)]="currentFormData.over_the_device.modules.wrp">WRP</label>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="serial_number_customer">Seriennummer Kunde</label>
        <input type="text" class="form-control" id="serial_number_customer" placeholder="Enter serial" name="serial_number_customer" [(ngModel)]="currentFormData.over_the_device.serial_number_customer">
        <label for="batch_number">Chargennummer</label>
        <input type="text" class="form-control" id="batch_number" placeholder="Chargennummer" name="batch_number" [(ngModel)]="currentFormData.over_the_device.batch_number">
        <label for="customer_order_number">Auftragsnummer Kunde</label>
        <input type="text" class="form-control" id="customer_order_number" placeholder="Auftragsnummer Kunde" name="customer_order_number" [(ngModel)]="currentFormData.over_the_device.customer_order_number">
      </div>
      <div class="form-group col-md-6">
        <label for="serial_number_hp">Seriennummer HP Med</label>
        <input type="text" class="form-control" id="serial_number_hp" placeholder="Enter serial" name="serial_number_hp" [(ngModel)]="currentFormData.over_the_device.serial_number_hp">
        <div class="row">
          <div class="col-md-6">
            <label for="software_version">Softwarestand</label>
            <input type="text" class="form-control" id="software_version" placeholder="Softwarestand" name="software_version" [(ngModel)]="currentFormData.over_the_device.software_version">
          </div>
          <div class="col-md-6">
            <label for="construction_year">Baujahr</label>
            <input type="text" class="form-control" id="construction_year" placeholder="Enter Baujahr" name="construction_year" [(ngModel)]="currentFormData.over_the_device.construction_year">
          </div>
        </div>
        <label for="hp_med_order_number">Auftragsnummer HP Med</label>
        <input type="text" class="form-control" id="hp_med_order_number" placeholder="Auftragsnummer HP Med" name="hp_med_order_number" [(ngModel)]="currentFormData.over_the_device.customer_hp_med_order_number">
      </div>
    </div>
    <div class="row">
      <h5>Sonstiges</h5>
      <div class="form-group col-md-12">
        <div class="checkbox">
          <label><input type="checkbox" name="maintenance_contract" [(ngModel)]="currentFormData.others.maintenance_contract">Wartungsvertrag</label>
          <label><input type="checkbox" name="under_reservation" [(ngModel)]="currentFormData.others.under_reservation">Kulanz unter Vorbehalt</label>
        </div>
      </div>
    </div>
    <h5>Kundendaten</h5>
    <div class="form-group col-md-6">
      <label>Auftraggeber*</label>
      <div class="checkbox">
        <label><input type="checkbox" name="own_customer" [(ngModel)]="currentFormData.customer_data.customer.own_customer">Eigener Auftraggeber*</label>
      </div>
      <label>Auftraggeber</label>
      <div [hidden]="!currentFormData.customer_data.customer.own_customer"><input type="text" class="form-control" id="customer_name" placeholder="Auftraggeber" name="in.customer_name" [(ngModel)]="currentFormData.customer_data.customer.customer_name" [disabled]="!currentFormData.customer_data.customer.own_customer"></div>
      <div [hidden]="currentFormData.customer_data.customer.own_customer">
        <input required name="sel.customer_name" 
         [(ngModel)]="currentFormData.customer_data.customer.customer_name"
         [typeahead]="dynamicData['customer_name']"
         typeaheadOptionsLimit="10"
         typeaheadOptionField="name"
         placeholder="Type customers name"
         class="form-control">
      </div>
      <label for="street">Straße</label>
      <input id="street"
         name="street" 
         [(ngModel)]="currentFormData.customer_data.customer.street"
         [typeahead]="dynamicData['street']"
         typeaheadOptionsLimit="10"
         typeaheadOptionField="street"
         placeholder="Straße"
         class="form-control">
      <label for="zip_code">PLZ</label>
      <input id="zip_code"
         name="zip_code" 
         [(ngModel)]="currentFormData.customer_data.customer.zip_code"
         [typeahead]="dynamicData['zip_code']"
         typeaheadOptionsLimit="10"
         typeaheadOptionField="zip"
         placeholder="PLZ"
         class="form-control">
      <label for="city">Stadt</label>
      <input id="city"
         name="city" 
         [(ngModel)]="currentFormData.customer_data.customer.city"
         [typeahead]="dynamicData['city']"
         typeaheadOptionsLimit="10"
         typeaheadOptionField="city"
         placeholder="Stadt"
         class="form-control">
      <label>Standort/Ansprechpartner</label>
      <div class="row">
        <div class="col-md-4">
          <input id="appeal"
            name="appeal" 
            [(ngModel)]="currentFormData.customer_data.customer.appeal"
            [typeahead]="dynamicData['appeal']"
            typeaheadOptionsLimit="10"
            typeaheadOptionField="appeal"
            placeholder="Appeal"
            class="form-control">
        </div>
        <div class="col-md-8">
          <input id="location_contact"
            name="location_contact" 
            [(ngModel)]="currentFormData.customer_data.customer.contact"
            [typeahead]="dynamicData['contact']"
            typeaheadOptionsLimit="10"
            typeaheadOptionField="contact"
            placeholder="Name"
            class="form-control">
        </div>
      </div>
      <label for="phone">Telephon</label>
      <input type="text" class="form-control" id="phone" placeholder="Telephon" name="phone" [(ngModel)]="currentFormData.customer_data.customer.phone">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" [(ngModel)]="currentFormData.customer_data.customer.email">
    </div>
    <div class="form-group col-md-6">
      <label>Betreiber</label>
      <div class="checkbox">
        <label><input type="checkbox" name="customer_operator" [(ngModel)]="currentFormData.customer_data.operator.customer_operator">Betreiber weicht von Auftraggeber ab</label>
      </div>
      <label for="operator_name">Betreiber</label>
      <input type="text" class="form-control" id="operator_name" placeholder="Betreiber" name="operator_name" [(ngModel)]="currentFormData.customer_data.operator.operator_name" [disabled]="!currentFormData.customer_data.operator.customer_operator">
      <label for="street">Straße</label>
      <input type="text" class="form-control" id="street" placeholder="Straße" name="op.street" [(ngModel)]="currentFormData.customer_data.operator.street" [disabled]="!currentFormData.customer_data.operator.customer_operator">
      <label for="zip_code">PLZ</label>
      <input type="text" class="form-control" id="zip_code" placeholder="PLZ" name="op.zip_code" [(ngModel)]="currentFormData.customer_data.operator.zip_code" [disabled]="!currentFormData.customer_data.operator.customer_operator">
      <label for="place">Ort</label>
      <input type="text" class="form-control" id="place" placeholder="Ort" name="op.place" [(ngModel)]="currentFormData.customer_data.operator.place" [disabled]="!currentFormData.customer_data.operator.customer_operator">
      <label for="location_contact">Standort/Ansprechpartner</label>
      <input type="text" class="form-control" id="location_contact" placeholder="Standort/Ansprechpartner" name="op.location_contact" [(ngModel)]="currentFormData.customer_data.operator.location_contact" [disabled]="!currentFormData.customer_data.operator.customer_operator">
      <label for="phone">Telephon</label>
      <input type="text" class="form-control" id="phone" placeholder="Telephon" name="op.phone" [(ngModel)]="currentFormData.customer_data.operator.phone" [disabled]="!currentFormData.customer_data.operator.customer_operator">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="op.email" [(ngModel)]="currentFormData.customer_data.operator.email" [disabled]="!currentFormData.customer_data.operator.customer_operator">
    </div>
    <div class="form-group col-md-6">
      <label>Rechnungsadresse</label>
      <div class="checkbox">
        <label><input type="checkbox" name="custom_billing_address" [(ngModel)]="currentFormData.customer_data.billing_address.custom_billing_address">Abweichende Rechnungsadresse</label>
      </div>
      <label for="company_name">Firma</label>
      <input type="text" class="form-control" id="company_name" placeholder="Firma" name="company_name" [(ngModel)]="currentFormData.customer_data.billing_address.company_name" [disabled]="!currentFormData.customer_data.billing_address.custom_billing_address">
      <label for="customer_name">Name</label>
      <input type="text" class="form-control" id="customer_name" placeholder="Name" name="ba.customer_name" [(ngModel)]="currentFormData.customer_data.billing_address.customer_name" [disabled]="!currentFormData.customer_data.billing_address.custom_billing_address">
      <label for="street">Straße</label>
      <input type="text" class="form-control" id="street" placeholder="Straße" name="ba.street" [(ngModel)]="currentFormData.customer_data.billing_address.street" [disabled]="!currentFormData.customer_data.billing_address.custom_billing_address">
      <label for="zip_code">PLZ</label>
      <input type="text" class="form-control" id="zip_code" placeholder="PLZ" name="ba.zip_code" [(ngModel)]="currentFormData.customer_data.billing_address.zip_code" [disabled]="!currentFormData.customer_data.billing_address.custom_billing_address">
      <label for="place">Ort</label>
      <input type="text" class="form-control" id="place" placeholder="Ort" name="ba.place" [(ngModel)]="currentFormData.customer_data.billing_address.place" [disabled]="!currentFormData.customer_data.billing_address.custom_billing_address">
    </div>
  </form>
</div> -->


