<ul class="nav navbar-nav navbar-right">  
    <li *ngIf="currentFormSevice.currentFormID !== 'sd'"><a (click)="processForm('pdf')"><span class="glyphicon-class glyphicon glyphicon-file"></span></a></li>          
    <!-- <li><a (click)="sendPdfFile()"><span class="glyphicon-class glyphicon glyphicon-envelope"></span></a></li> -->
    <li *ngIf="currentFormSevice.currentFormID !== 'sd'"><a (click)="processForm('print')"><span class="glyphicon-class glyphicon glyphicon-print"></span></a></li> 
    <li><a (click)="saveForm()"><span class="glyphicon-class glyphicon glyphicon-floppy-disk"></span></a></li>
    <li><a (click)="clearForm()"><span class="glyphicon-class glyphicon glyphicon-trash"></span></a></li>            
</ul>


<!-- Modal window for saving new incident-->
<!-- For this used: http://valor-software.com/ngx-bootstrap/#/modals -->
<div bsModal #saveModal="bs-modal" class="modal fade" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="smallSaveModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Save incident</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSaveModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The current incident is not stored yet. Enter the name for new incident or select customer name to set it up as incident name.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" name="use_customer" [(ngModel)]="use_customer">Use customer name as incident name</label>
                    </div>
                </div>
                <div class="form-group" [hidden]="!use_customer">
                    <label>Select customer</label>
                    <select class="form-control"  type="text" name="incident_name" [(ngModel)]="incident_name">
                        <option value="custom">Some customer</option>
                        <!--<option *ngFor="let deviceItem of customerData.getDeviceList()" [value]="deviceItem.deviceName">{{deviceItem.deviceName}}</option>-->
                    </select>
                </div>
                <div class="form-group" [hidden]="use_customer">
                    <label >Enter incident name</label>
                    <input type="text" class="form-control" placeholder="Enter incident name" [(ngModel)]="incident_name" name="incident_name">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideSaveModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmSavigIncident(incident_name)">Save</button>
      </div>
    </div>
  </div>
</div>