/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.rounded-container {
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 10px;
}

.sign-line {
    width: 215px;
    border-bottom: 1px solid #555555;
    margin-top: 12px;
    margin-bottom: 5px;
}

.data-block {
    margin: 0 0 30px 0;
}

.custom-separator {
    border-bottom: 1px solid #555555;
    width: 100%;
    height: 1px;
    float: left;
    margin: 10px 0 10px 0;
}
