.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    margin-right: 30px;
}

.form-items{
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    padding-left: 10px;
}

.form-items-list {
    list-style: none;
    float: left;
    width: 100%;
}

.btn-black{
    color: #fff;
    background-color: #3e3e3e;
    border-color: #000000;
}

.btn-brown{
    color: #fff;
    background-color: #6b4400;
    border-color: #000000;
}
